.paginationStyle::ng-deep .page-item.active .page-link {
    z-index: 1;
    color: #FFFFFF;
    background-color: #02b875 !important;
    border-color: #02b875;
}

.paginationStyle::ng-deep .page-link {
    z-index: 1;
    color: #02b875;
    background-color: #FFFFFF !important;
    border-color: #02b875;
}

.table.table.table-hover {
    margin-bottom: 0;
}

table {
    border-collapse: separate;
    border-spacing: 0px;
}