<h5>
    Expense Tracker is the place where users can track their cryptocurrency purchase history.
</h5>
<br>

<h6>Registration</h6>
<p>
    To be able to use this app, the user has to register first.
</p>

<h6>Login</h6>
<p>
    If you have successfully registered, you can log in to use the app.
</p>

<h6>Expenses</h6>
<p>
    The main use of this app is to track your expenses, i.e. your purchase history. <br>
    Every entry is defined with a cryptocurrency (Asset), date of purchase, and amount. <br>
    Cryptocurrency is chosen from the list of available currencies (Assets). <br>
    Date of purchase is entered using a date picker, and the amount is entered using a number input control. <br>
    Below the input form, users can see the table with all their inputs. <br>
    Users can remove an entry by clicking on 'X' button in the table row.
</p>

<h6>Assets</h6>
<p>
    Assets are used for the dropdown control on the Expenses tab, for users to select an Asset from the list of available ones. <br>
    Assets are managed by Admins - only Admins have the rights to add or remove currencies. <br>
    Regular users will not see the Asset tab.
</p>

<h6>Admin Panel</h6>
<p>
    This application has 3 kinds of roles: Super Admins, Admins, and Regular users. <br>
    Super Admin is the top-level role & they can use this panel to manage roles for users. <br>
    Regular users will not see the Admin tab.
</p>
    
<h6>Errors</h6>
<p>
    Error tab demonstrates how different kinds of errors will display in the application. <br>
    This application is used for practice purposes, the Error tab would not be displayed for production of course. 
</p>