<header>
    <h1>About Me</h1>
  </header>
  <main>
    <h2>Hello!</h2>
    <p>
        My name is Milan Marcetic. I am a Software Engineer with extensive expertise in <b>.NET, C# & Angular</b>. 
        Keep reading if you want to learn more about me, my skills, and my professional experiences.
    
    </p>
    <h2>Current Employment</h2>
    <p>
      I am currently employed at FIS, where I work on developing a SaaS 
      risk management solution as a full-stack developer. 
      On the backend we use <b>Microservices</b> & <b>.NET</b>, the cloud is <b>AWS</b>, and the database is <b>PostgreSQL</b>. 
      On the frontend we use <b>Angular</b>. 
      Our team follows <b>Scrum</b> and <b>Agile</b>
      methodologies, and we use <b>Git</b> for version control.
    </p>

    <h2>Work Experience</h2>
    <p>
      Before joining FIS, I spent two years working for the Canadian company NuVoxx as a Software Engineer from 2019 to 2021.
      I was part of a development team working on a contact center web application, utilizing cutting-edge
      technologies such as <b>Angular</b>, <b>.NET</b>, and <b>microservices</b>.
    </p>
    <p>
      My professional IT journey started at SAP in 2019, where I worked as a QA Engineer for 4 months. 
      I had a great opportunity to get introduced to working in an agile environment and gained experience with various technologies that I still
      use in my work today, like <b>Swagger</b>, <b>Postman</b>, <b>Jenkins</b>, <b>MongoDB</b>, <b>Git</b>, and <b>JIRA</b>. I got involved in <b>automated testing</b> from day one, which helped me develop good
      habits and knowledge, and also gave me a direct insight into the importance of testing in the software
      development process.
    </p>

    <h2>Coding since school</h2>
    <p>
      Since school days, 
      I have been passionate about application development and automating manual tasks.
      During my studies, I created several mini-applications for a wholesale lighting company 
      where I was employed at the time. I noticed that certain tasks were being unnecessarily 
      handled manually, consuming valuable time. My
       applications automate tasks related to customs document processing and wholesale 
      customer product delivery, streamlining operations and enhancing efficiency.
      <br>Although I'm not proud of the code quality now when I look back, 
      I'm happy that these apps are still being used today and making people's jobs easier every day.
    </p>

    <!-- <h2>Free time</h2>
    <p>I'm always trying to develop my own projects (such as this one) in my spare time, 
        to practice the technologies I like and to keep up with the best practices.</p> -->

    <div class="contact-info">
      <h2>Contact</h2>
      <p>If you want to learn more about me, my skills and experiences, or if you have any questions, feel free to
        contact me via email at <a href="mailto:marcetic18@hotmail.com">marcetic18@hotmail.com</a> or
        <a href="https://www.linkedin.com/in/marcetic18/" target="_blank" rel="noopener noreferrer">LinkedIn</a>.</p>
    </div>
  </main>